@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic|Roboto+Slab:400,700|Inconsolata:400,700);
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);

h1,h2,h3,h4,h5,h6,legend{
    font-family:"Roboto Slab","ff-tisa-web-pro","Georgia",Arial,sans-serif;
    font-weight:700;
    margin-top:0;
}

h1{
    color: #4e3163;
    font-size:175%;
}


.org-window-divider-first-pixel {
    /* window-divider-first-pixel */
    color: #cccccc;
}
.org-window-divider-last-pixel {
    /* window-divider-last-pixel */
    color: #666666;
}
.org-window-numbering {
}
.org-yas--field-debug {
}

div.rule {
background-color: #E6E6FA;
font-weight: bold;
} 

div.examplee {
background-color: #F5F5DC
}

p {
white-space: pre-line;
}
